 html{
        font-size: 22px;
    }

    body {
        background-color:rgb(12, 12, 41);
        color:whitesmoke;
        }
b {
    color: antiquewhite;
}
button {
    color: rgb(227, 227, 227);
    background-color: #ff7484d7;
}
link{
    color: aqua;
    
}
a{
    color: aqua;
    font-weight: 700;
    font-style:oblique;
}
p{
    color: rgb(148, 251, 255);
    font-weight: 800;
}
mark {
    background-color: rgb(102, 102, 254);
}
#navigator{
    text-align: center;
    font-weight: 900;
    text-decoration: overline;
}
a{
    text-decoration:none;
}
p{
    font-family: cursive;
}
button{
    font-weight: 600;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}